<div class="other-skills chip-container row" data-aos="zoom-in-up">
    <% if (mySkills) { %>
    <% Object.keys(mySkills).forEach(function(skill) { %>
    <% topSkillArr.push(skill); %>
    <div class="col s4" data-aos="fade-up">
        <div class="tag-chips center-align">
            <span class="chip center-align waves-effect waves-light chip-default"><%- skill %></span>
        </div>
    </div>
    <% }); %>
    <% } %>
</div>


<div class="row">
    <% if (mySkills) { %>
    <% Object.keys(mySkills).forEach(function(skill) { %>
    <% topSkillArr.push(skill); %>
    <div class="col s12 m6 l6" data-aos="fade-up">
        <div class="skillbar">
            <div class="skillbar-title">
                <span><%- skill %></span>
            </div>
        </div>
    </div>
    <% }); %>
    <% } %>
</div>